.header,
.nav,
.main,
.sidebar,
.advertise,
.footer {
  background-color: antiquewhite;
  border: 2px solid salmon;
  border-radius: 5px;
  padding: 5px;
}
.nav ul {
  list-style: none;
  text-align: left;
  padding: 0 20px;
}
.nav a {
  text-decoration: none;
}

.header {
  grid-area: header;
}
.nav {
  grid-area: nav;
}
.main {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}
.advertise {
  grid-area: advertise;
}
.footer {
  grid-area: footer;
}

.container {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header  header  header  header"
    "nav     main    main    sidebar"
    "nav     main    main    advertise"
    "footer  footer  footer  footer";
}
.advertise {
  margin-top: 10px;
}

/* responsive design for small device */
@media screen and (max-width: 576px) {
  .container {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "sidebar"
      "adversite"
      "footer";
  }
  .nav ul {
    display: flex;
    justify-content: space-between;
  }
  .advertise {
    margin-bottom: -10px;
  }
}

/* responsive design for medium device */
@media screen and (min-width: 576.02px) and (max-width: 992px) {
  .container {
    grid-template-areas:
      "header     header   header"
      "nav        nav      nav"
      "sidebar    main     main"
      "advertise  footer   footer";
  }
  .nav ul {
    display: flex;
    justify-content: space-around;
  }
}
